<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            {% if app.session.get( 'site_name' ) %}<a class="brand" href="http://{{ app.session.get( 'site_domain' ) }}" target="_blank">{{ app.session.get( 'site_name' ) }}</a>{% endif %}
            {% if app.session.get( 'is_authed' ) %}
            <ul class="nav">
                <li><a href="{{ path( 'mydevnullnet_publier_posts' ) }}">Posts</a></li>
                <li><a href="{{ path( 'mydevnullnet_publier_settings' ) }}">Settings</a></li>
                <li><a href="{{ path( 'mydevnullnet_publier_logout' ) }}">Log out</a></li>
            </ul>
            {% endif %}
            <a class="brand pull-right" href="http://mydevnull.net/publier">publier</a>
        </div>
    </div>
</div>
