{% extends 'MydevnullnetPublierBundle::backend/layout.html.twig' %}
{% block title %}
Edit Post {{ post.title }}
{% endblock %}
{% block content %}
<form class="form-horizontal" action="" method="post">
    <fieldset>
        <legend>Edit Post {{ post.title }}</legend>

        <div class="control-group">
            <label class="control-label" for="inputTitle">Title</label>
            <div class="controls">
                <input type="text" id="inputTitle" placeholder="Title" name="title" value="{{ post.title }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSlug">Slug</label>
            <div class="controls">
                <input type="text" id="inputSlug" placeholder="Leave empty to auto-generate" name="slug" value="{{ post.slug }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPublishDate">Publish Date</label>
            <div class="controls">
                <input type="text" id="inputPublishDate" placeholder="Leave empty for current date" name="publish_date" value="{{ post.publishDate|date( 'd-M-Y H:i' ) }}" />
                <span class="help-inline">e.g. 16-Sep-2012 19:01</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBody">Body</label>
            <div class="controls">
                <textarea id="inputBody" class="span8" placeholder="Use markdown syntax" name="body" rows="10">{{ post.body }}</textarea>
                <span class="help-inline"><a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown syntax help</a></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputInStream">In Stream</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="inputInStream" name="in_stream" type="checkbox" {% if post.inStream %}checked="checked"{% endif %} />
                    <span class="help-inline">The post will appear in the posts stream.</span>
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputInMenu">In Menu</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="inputInMenu" name="in_menu" type="checkbox" {% if post.inMenu %}checked="checked"{% endif %} />
                    <span class="help-inline">The post will appear in the menu ( if none of these two check boxes is selected, the post will be accessible only by directly visting the URL ).</span>
                </label>
            </div>
        </div>
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <input class="btn" type="submit" name="submit" value="Save" />
        </div>
    </div>
</form>
{% endblock %}

